.film-box-container{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}


.film-box {
  text-align: center;
  width:60%;
  background-color: lightgrey;
  border: 1px solid black;
  text-align:left;
  padding:0.5rem;
}

.film-box > h1{
  font-weight:normal;
}

.film-box > hr{
  border: 0.75px solid grey;
  border-radius: 10px;
}

.film-listing{
  padding-left:1rem;
}

.film-link{
  text-decoration:none;
  color: rgb(102, 102, 182);
}

.release-box{
  background-color:rgba(92, 142, 236, 0.377);
  width:100%;
  text-align:center;
}

.release-box > h2 {
  padding:1rem;
  border: 1px solid black;
}

.release-box > h2 > a {
  text-decoration:none;
  color: rgb(102, 102, 182);
}




